:root {
    --purple-color1: hsl(260, 100%, 95%);
    --purple-color2: hsl(264, 82%, 80%);
    --purple-color3: hsl(263, 55%, 52%);
    --white-color: hsl(0, 0%, 100%);
    --grey-color1: hsl(214, 17%, 92%);
    --grey-color2: hsl(0, 0%, 81%);
    --grey-color3: hsl(224, 10%, 45%);
    --grey-color4: hsl(217, 19%, 35%);
    --darkblue-color: hsl(219, 29%, 14%);
    --black-color: hsl(0, 0%, 7%);
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
    background-color: #F6F5F6;
    margin: 0;
    padding: 72px 36px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid-container {
    display: grid;
    grid-template-areas:
        "daniel-card"
        "jonathan-card"
        "jeanette-card"
        "patrick-card"
        "kira-card";
    row-gap: 32px;
}

.testimonial-card {
    border-radius: 8px;
    padding: 32px;
    box-shadow: 38px 45px 120px -55px var(--grey-color4);
}

.customer {
    display: flex;
    align-items: center;
}

.customer img {
    height: 28px;
    border-radius: 50%;
}

.customer-info {
    margin-left: 12px;
}

.customer-name {
    line-height: 110%;
    margin: 0 0 4px;
}

.customer-role {
    font-size: 11px;
    line-height: 110%;
    margin: 0;
}

.summary {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
}

.quote {
    line-height: 140%;
    margin-bottom: 0;
}

#daniel-card {
    grid-area: daniel-card;
    background-color: var(--purple-color3);
    color: var(--white-color);
}

#daniel-card .customer-role, #daniel-card .quote {
    color: var(--purple-color1);
}

#daniel-card #quote-float {
    display: none;
}

#daniel-card .customer img {
    border: var(--purple-color2) 2px solid;
}

#jonathan-card {
    grid-area: jonathan-card;
    background-color: var(--grey-color4);
    color: var(--white-color);
}

#jonathan-card .customer-role, #patrick-card .summary {
    color: var(--grey-color2);
}

#jonathan-card .quote, #patrick-card .quote {
    color: var(--grey-color1);
}

#jeanette-card {
    grid-area: jeanette-card;
    background-color: var(--white-color);
    color: var(--grey-color4);
}

#jeanette-card .customer-role, #jeanette-card .quote, #kira-card .customer-role, #kira-card .quote {
    color: var(--grey-color3);
}

#patrick-card {
    grid-area: patrick-card;
    background-color: var(--darkblue-color);
    color: var(--white-color);
}

#patrick-card .customer img {
    border: var(--purple-color3) 2px solid;
}

#kira-card {
    grid-area: kira-card;
    background-color: var(--white-color);
    color: var(--grey-color4);
}

@media screen and (min-width: 768px) {
    body {
        padding: 72px 60px;
    }

    #grid-container {
        grid-template-areas:
            "daniel-card daniel-card"
            "jonathan-card jeanette-card"
            "patrick-card patrick-card"
            "kira-card kira-card";
        column-gap: 32px;
        max-width: 1000px;
    }

    #daniel-card {
        position: relative;
    }

    #daniel-card #quote-float {
        display: block;
        position: absolute;
        z-index: 1;
        right: 172px;
        top: 0;
    }

    #daniel-card .summary {
        position: relative;
        z-index: 2;
    }
}

@media screen and (min-width: 1440px) {
    body {
        padding: 72px 165px;
    }

    #grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "daniel-card daniel-card jonathan-card kira-card"
            "jeanette-card patrick-card patrick-card kira-card";
        column-gap: 32px;
        max-width: 1240px;
    }

    #daniel-card {
        position: relative;
    }

    #daniel-card #quote-float {
        display: block;
        position: absolute;
        z-index: 1;
        right: 62px;
        top: 0;
    }

    #daniel-card .summary {
        position: relative;
        z-index: 2;
    }
}